<!DOCTYPE html>
{%extends 'testapp/index.html'%}
{%block body_block%}


  <div class="container" align='centre'>
    <div class="container" align='centre'>


    <title>course create form </title>
  </head>
  <body>

    <form class="" action="/testapp/lessoncre/"  method="post" enctype='multipart/form-data'>
      {% csrf_token %}
      {{form1.as_p}}
      <input type="submit" class="btn-btn-primary btn-lg"value="ADD COURSE">
      <a href="/testapp/lessoncre/"> Add Lesson</a>
    </form>
  </div>

</div>

{%endblock%}
